@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src:url("iconfont/material-icons.woff2") format("woff2"), url("iconfont/material-icons.woff") format("woff");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
  position: absolute;
}

.app-do-not-select {
  user-select: none;
}

.app-dark {
  color: white;
  background-color: black;
  --mdc-theme-primary: rgba(0, 0, 0, 0.87);
  --mdc-theme-secondary: rgba(0, 0, 0, 0.54);
  --mdc-theme-background: rgba(0, 0, 0, 0.87);
  --mdc-theme-surface: rgba(0, 0, 0, 0.87);
  --mdc-theme-error: rgba(0, 0, 0, 0.87);
  --mdc-theme-on-primary: white;
  --mdc-theme-on-secondary: rgba(255, 255, 255, 0.7);
  --mdc-theme-on-surface: rgba(255, 255, 255, 0.7);
  --mdc-theme-on-error: magenta;
}

.app-light {
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
  --mdc-theme-primary: rgba(255, 255, 255, 0.87);
  --mdc-theme-secondary: rgba(255, 255, 255, 0.54);
  --mdc-theme-background: rgba(255, 255, 255, 0.87);
  --mdc-theme-surface: rgba(255, 255, 255, 1);
  --mdc-theme-error: rgba(255, 255, 255, 0.87);
  --mdc-theme-on-primary: rgba(0, 0, 0, 0.7);
  --mdc-theme-on-secondary: rgba(0, 0, 0, 0.5);
  --mdc-theme-on-surface: rgba(0, 0, 0, 0.7);
  --mdc-theme-on-error: red;
}

#app-bar-title span {
  margin: 0 0.5rem 0 0;
}

#editor-container {
  display: grid;
  grid-template: 1fr auto / 1fr;
}

#statusbar {
  text-align: right;
  padding: 1px;
  background-color: var(--mdc-theme-primary, #6200ee);
}

#statusbar span {
  margin: 0 0.5rem;
  white-space: nowrap;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.mdc-top-app-bar {
  color: inherit;
  z-index: 7;
}

.mdc-list-item {
  align-items: center;
  height: 2rem;
  white-space: nowrap;
}

.mdc-list-divider {
  margin: 0.5rem 0;
}

.mdc-list-item__text {
  overflow: visible;
  white-space: nowrap;
}

.mdc-list-item__meta {
  padding-left: 2rem;
  overflow: visible;
  white-space: nowrap;
  margin-left: auto;
  margin-right: 0;
}

.mdc-list--dense .mdc-list-item__graphic {
  margin-right: 0.5rem;
}

.mdc-top-app-bar .mdc-top-app-bar__action-item {
  text-transform: none;
}

.mdc-menu .mdc-list {
  color: inherit;
}

.mdc-menu .mdc-list-item__meta {
  color: inherit;
}

.mdc-button:not(:disabled) {
  color: inherit;
}

.mdc-dialog .mdc-dialog__title {
  color: inherit;
}

.mdc-dialog .mdc-dialog__content {
  color: inherit;
}

.mdc-list-item--selected .mdc-list-item__graphic, .mdc-list-item--activated .mdc-list-item__graphic {
  color: inherit;
}

.mdc-drawer {
  background-color: inherit;
}

.mdc-drawer .mdc-list-item__graphic {
  color: inherit;
  font-size: 1rem;
}

.mdc-list-item--selected, .mdc-list-item--activated {
  color: inherit;
}

.mdc-text-field .mdc-text-field__input {
  caret-color: var(--mdc-theme-on-primary);
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: inherit;
}

.mdc-text-field:not(.mdc-text-field--disabled) {
  background-color: inherit;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color: var(--mdc-theme-on-secondary);
}

:not(.mdc-list-item--disabled).mdc-list-item--selected .mdc-list-item__ripple::before, :not(.mdc-list-item--disabled).mdc-list-item--selected .mdc-list-item__ripple::after {
  background-color: var(--mdc-theme-on-primary, #6200ee);
}

.mdc-button .mdc-button__ripple::before, .mdc-button .mdc-button__ripple::after {
  background-color: var(--mdc-theme-on-primary, #6200ee);
}

:not(.mdc-list-item--disabled).mdc-list-item .mdc-list-item__ripple::before, :not(.mdc-list-item--disabled).mdc-list-item .mdc-list-item__ripple::after {
  background-color: var(--mdc-theme-on-primary, #6200ee);
}

#ace_settingsmenu, #kbshortcutmenu {
  line-height: initial;
}
